$primary: #545F7D;
$light-blue: #39CDCC;
$dark-blue: #213F7D;

$gray-50:  #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-900: #111827;



$spacing-0: 0;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;

$radius-sm: 0.25rem;
$radius-md: 0.5rem;
$radius-lg: 0.75rem;

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;

$break-sm: 480px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;
