@use "../../styles/mixins" as m;

.container {
  @include m.flex-row;
  width: 100%;
  height: 100vh;
}

.imageContainer {
  @include m.flex-column($justify: center);
  width: 50%;
  height: 100%;
  position: relative;
  padding: 0 20px;
}

.logo {
  position: absolute;
  top: 10%;
  left: 8%;
}
